.wrapper{
  padding: 100px 100px 30vh;
  height: 100vh;
}
.block{
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
}
.block{
  background: url("image.jpg") center no-repeat, linear-gradient(grey, black);
  background-image: url("image.jpg"), linear-gradient(grey, black);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}